<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <h1>T-Shirt Up Yo Bleep!</h1>


    <form action ="/session" method ="POST">
      <input type = "password" name = "password" placeholder="Enter admin password">
      <button>submit</button>
    </form>
  </nav>
  <div class = "container">

    <div class = "row">
      <% tshirts.each do |tshirt| %>
      <div class="col-md-4">
        <div class="item-wrapper">
          <img width=100 height=120 src="<%= tshirt.img_url %>"/>
          <h3><%= tshirt.name%></h3>
          <h3>$<%= tshirt.price%></h3>
          <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#<%= tshirt.id.to_s %>">BUY</a>
        </div>
      </div>


      <div class="modal fade" id="<%= tshirt.id.to_s %>">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><%= tshirt.name%> shirt</h4>
            </div>
            <div class="modal-body">
              <div class="col-md-6 col-sm-6">
                <img src="<%= tshirt.img_url%>">
              </div>
              <div class="col-md-6 col-sm-6">

                <form action="/" method="POST">
                  <div id="form-quantity">
                    <h5> Quantity: </h5>
                    <input type="number" name="quantity" min="1" max="<%= tshirt.quantity %>"> <span><i><%= tshirt.quantity%> Left in Stock.</i></span>
                  </div>

                  <div id="form-name">
                    <h5> Name: </h5>
                    <input type="text" name="name" placeholder="Janis Joplin">
                  </div>

                  <div id="form-email">
                    <h5> Email: </h5>
                    <input type="email" name="email" placeholder="scoobydoo@gmail.com">
                  </div>
                  <input type="hidden" name="tshirt_id" value="<%= tshirt.id.to_s %>"/>
                  <button class ="btn btn-primary" id="submit-order">YAYA</button>
                </form>


              </div>
            </div> <!-- End Modal Body -->
          </div> <!-- End Modal Content -->
        </div> <!-- End Modal Dialogue -->
      </div> <!-- End Modal -->



      <% end %>
    </div><!-- end row -->

    <div class="row bottom">
      <div class = "col-md-offset-4">
        <h2>Product of the WuTang Clan</h2>
      </div>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
